<% provide(:title, 'All circulations') %>
<h1>貸出一覧</h1>

<table align="center">
  <%= render 'circulation' %>
  <% @circulations.each do |circulation| %>
  <tr>
    <td style='border-style:solid'>
      <%= link_to circulation.id, circulation %>
    </td>
    <td style='border-style:solid'>
      <%= circulation.user_name %>
    </td>
    <td style='border-style:solid'>
      <%= circulation.book_title %>
    </td>
    <td style='border-style:solid'>
      <%= circulation.checkout_date %>
    </td>
    <td style='border-style:solid'>
      <%= circulation.return_date %>
    </td>
    <td style='border-style:solid'>
      <%= link_to '編集', edit_circulation_path(circulation.id) %>
    </td>
    <td style='border-style:solid'>
      <%= link_to '返却', return_circulation_path(circulation.id), method: :patch %>
    </td>
    <td style='border-style:solid'>
    <%= link_to "削除", circulation, method: :delete, data: { confirm: "本当に削除しますか?" } %>
    </td>
  </tr>
  <% end %>
</table>
