<% provide(:title, "#{@circulation.id}") %>

<table align="center">
  <%= render 'circulation' %>
  <tr>
    <td style='border-style:solid'>
      <%= @circulation.id %>
    </td>
    <td style='border-style:solid'>
      <%= @circulation.user_name %>
    </td>
    <td style='border-style:solid'>
      <%= @circulation.book_title %>
    </td>
    <td style='border-style:solid'>
      <%= @circulation.checkout_date %>
    </td>
    <td style='border-style:solid'>
      <%= @circulation.return_date %>
    </td>
    <td style='border-style:solid'>
      <%= link_to '編集', edit_circulation_path %>
    </td>
  </tr>
</table>
